<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MP3 Monitoring</Name>
    <Version>1.0.2</Version>
    <Title>MP3 Monitoring Setup</Title>
    <Publisher>Iceflower S</Publisher>
    <ProductUrl>https://gitlab.com/Iceflower/mp3-monitoring/</ProductUrl>
    <StartMenuDir>MP3 Monitoring</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/MP3 Monitoring</TargetDir>
    <InstallerWindowIcon>data/icon.png</InstallerWindowIcon>
    <WizardStyle>Aero</WizardStyle>
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <ControlScript>controllerscript.js</ControlScript>
</Installer>
